Package: live-audio-v2-airside
Version: 0.0.2
Maintainer: funnel
Description: Live audio V2 airside.
Homepage: https://github.com/funneld/djifpv_live_audio_V2
Architecture: pigeon-airside
Depends: dinit, ffmpeg
